<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=devicewidth, initial-scale=1.0">
    <title>Mercado Libre</title>
    
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="../public/css/style.css">

</head>
    

    
<body>    


    <header>
        <div class="header-container">
            <div class="logosrc">
                <div class="logo">
                    <img src="../public/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
                </div>         
                <div class="search-bar">
                    <input type="text" placeholder="Buscar productos">
                    <button type="button">
                        <i class="fa-solid fa-magnifying-glass" style="color: #8c8c8c;"></i>
                    </button>
                </div>                
            </div>
            <div class="cta">
                <p><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</p>
            </div>                   
        </div>
        <nav>
            <ul class="izq">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="der">
                <li></i><a href="#">Crea tu cuenta</a><i class="fa-solid fa-id-card"></i></li>
                <li><a href="#">Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>                    
            </ul>
        </nav>
        <div class="center-container">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </header>

    <main>
        <h2>Basado en tu ultima visita</h2>
            <section class="listaprod">            
                <div class="productos">
                    <div>                                         
                        <img class="pic" src="../public/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                    </div>
                    <div class="infoprod">
                        <div class="truckbox">
                            <i class="fa-solid fa-truck"></i>
                        </div>                   
                        <p class="precios"> $6.770</p>
                        <p class="descuentos">40% OFF</p>
                        <h1>Cafetera Moulinex</h1>
                    </div>
                </div>
                <div class="productos">
                    <div>
                        <img class="pic" src="../public/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                    </div>
                    <div class="infoprod">
                        <div class="truckbox">
                        <i class="fa-solid fa-truck"></i>
                        </div>                    
                        <p class="precios">230.000</p>
                        <p class="descuentos">20% OFF</p>
                        <h1>MacBook Pro 2019</h1>
                    </div>
                </div>
                <div class="productos">
                    <div>
                        <img class="pic" src="../public/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                    </div>
                    <div class="infoprod">
                        <div class="truckbox">
                        <i class="fa-solid fa-truck"></i>
                        </div>                    
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% OFF</p>
                        <h1>Samsung Galaxy s10</h1>
                    </div>
                </div>
                <div class="productos">
                    <div>
                        <img class="pic" src="../public/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                    </div>
                    <div class="infoprod">
                        <div class="truckbox">
                        <i class="fa-solid fa-truck"></i>
                        </div>                    
                        <p class="precios">23.200</p>
                        <p class="descuentos">5% OFF</p>
                        <h1>SmartTV Samsung 43"</h1>
                    </div>
                </div>
            </section>

        <h2>Ofertas</h2>    
            <section class="listaprod">                
                <div class="productos">
                    <div>
                        <img class="pic" src="../public/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                    </div>
                    <div class="infoprod">
                        <div class="truckbox">
                            <i class="fa-solid fa-truck"></i>
                        </div>                    
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% off</p>
                        <h1>Cafetera Moulinex</h1>            
                    </div>
                </div>
                <div class="productos">
                    <div>
                        <img class="pic" src="../public/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
                    </div>
                    <div class="infoprod">
                        <div class="truckbox">
                            <i class="fa-solid fa-truck"></i>
                        </div>                    
                        <p class="precios">$230.000</p>
                        <p class="descuentos">20% off</p>
                        <h1>MacBook Pro 2019</h1>            
                    </div>
                </div>
                <div class="productos">
                    <div>
                        <img class="pic" src="../public/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
                    </div>
                    <div class="infoprod">
                        <div class="truckbox">
                            <i class="fa-solid fa-truck"></i>
                        </div>                    
                        <p class="precios">$70.500</p>
                        <p class="descuentos">10% off</p>
                        <h1>Samsung Galaxy s10</h1>            
                    </div>
                </div>
                <div class="productos">
                    <div>
                        <img class="pic" src="../public/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
                    </div>
                    <div class="infoprod">
                        <div class="truckbox">
                            <i class="fa-solid fa-truck"></i>
                        </div>                    
                        <p class="precios">$23.200</p>
                        <p class="descuentos">5% off</p>
                        <h1>SmartTV Samsung 43"</h1>            
                    </div>
                </div>
            </section>
    </main>

    <footer>
        
        <div class="articulo">
            <div class="icon">
                <i class="fa-solid fa-credit-card"></i>            
            </div>
            <h3>Pagá con tarjeta o con efectivo</h3>
            <p class="descripcion">Con Mercado Liebre Cash, tenés cuotas sin interès con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        
        <div class="articulo">
            <div class="icon">
                <i class="fa-solid fa-gift"></i>            
            </div>
            <h3>Envío gratis desde $2.500</h3>
            <p class="descripcion">Solo por estar registrad@ en Mercado Liebre tenès envios gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        
        <div class="articulo">
            <div class="icon">
                <i class="fa-solid fa-user-shield"></i>            
            </div>
            <h3>Seguridad de principio a fin</h3>
            <p class="descripcion">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>
        <div class="copyright">
            <p class="descripcion">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>
</html>